# Serverless directories
.serverless
.env
.env.staging
.env.production
.env

# Binaries for programs and plugins
source/bin/*
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

scratch/
.idea/

terraform/.terraform
source/cover.html
